<header>
    <nav class="navbar navbar-expand-lg navbar-white bg-dark">
      <div class="container-fluid">
       
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='/movies'>Movies</a>
            </li></ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" style="font-size: medium; font-family: 'Courier New', Courier, monospace; color: white;">
                <a class="nav-link" href='/contactus'>Movies Online</a>
              </li></ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item" >
                <a class="nav-link" href='/contactus'>ContactUs</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href='/cart'>MovieEntry</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='/login'>Logout</a></li>
            </ul>
        </div>
      </div>
    </nav>
  
<div class="card-header" style="text-align: center; padding-top: 3%;">
<nav  >
    <h1 style="font-family: Impact, 'Arial Narrow Bold', sans-serif;">Contact Details</h1>
    <h3>Email: Keerthanadatti@gmail.com</h3>
    <h3>Contact No : 08818 53412</h3><br><br>
    <br><br><br>
    <h2>Thank you for Visisting Us!!</h2>
</nav>
</div>
</header>
