
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form [formGroup]="formName" style="padding-top: 3%;padding-left: 35%;padding-right: 44%;">
    <div  class="card-header" style="padding-top: 3%;padding-right: 3%;" >
      <table>
        <tr>
        <td><label for="Uname">UserName</label></td>
        <td><input type="text" placeholder="Enter User Name" name="userName" formControlName="Uname" required></td></tr>
        <tr>
          <td><label for="pwd">Password</label></td>
        <td><input type="password" placeholder="Enter password" name="passN" formControlName="pwd" required></td></tr>
  <button type="submit" (click)="onSubmit()">Login</button>
  </table>
</div>
</form>
</body>
</html>
